@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: '方正剪纸简体'; 
    src: url('../fonts/方正剪纸简体.ttf') format('方正剪纸简体');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '华康俪金黑W8(P)'; 
    src: url('../fonts/华康俪金黑W8(P).TTF') format('华康俪金黑W8(P)');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 62.5%; /* 保持 1rem = 10px */
    scroll-behavior: smooth;
}

/* loading画面設定 */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeOut 1.5s 2.5s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loading-logo {
    opacity: 0;
    animation: logo_fade 2s .5s forwards;
    width: 200px;
}

@keyframes logo_fade {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    30% {
        opacity: 1;
        transform: translateY(0);   
    }

    60% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}


body {
    margin: 2em 4em;
    font-family:serif,"Zen Antique","游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", sans-serif;
    background-image: url('../image/background.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: clamp(1.2rem, 1.6vw, 1.4rem); 
}

header {
    color: #604f40;
    font-weight: 500;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-line-top img,
.header-line-bottom img {
    width: 100%;
}

/* .header-middle-left{
    font-family: "Lobster";
} */

.header-middle {
    margin: 1em 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 3.8em;
    align-items: stretch;
}

.header-middle-left,
.header-middle-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-right: 10vw; 
    border-right: 0.1rem solid #604f40;
    height: auto; 
}

.header-middle-left,
.header-middle-right {
    
    line-height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.header-middle-middle h1 a{
    text-decoration: none;
    color: #554739;
}

.header-middle-middle h1{
    margin-top: 0.25em;
    font-size: 3.2em;
    font-weight: 900;
    -webkit-text-stroke: 0.15rem #554739; 
    color: #554739;
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.5s ease;
    cursor: pointer;
}



.header-middle-website a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: 1.2em;
    font-weight: 900;
    -webkit-text-stroke: 0.05rem #554739; 
    color: #554739;
    transition: transform 0.6s ease, opacity 0.6s ease;
    cursor: pointer;
}

.header-middle-website a:hover,
.header-middle-middle h1:hover{
    color: #43372d;
    transform: scale(1.05);
    opacity: 0.8;
    transform: translateY(-5px);

}

/* nav */

.navbar {
    position: sticky; 
    top: 0;
    border-bottom: 0.2em solid #604f40;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    padding: 0.8em 0;
    margin: 0;
    width: 100%;
}

.nav-links li {
    position: relative;
    flex: 1; 
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li:first-child::before {
    content: "";
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%);
    height: 155%;
    width: 0.1rem;
    background-color: #604f40;
}

.nav-links li::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 155%;
    width: 0.1rem;
    background-color: #604f40;
}

.nav-links a {
    text-decoration: none;
    color: #41362c;
    font-size: 1.8rem;
    font-weight: bold;
    transition: transform 0.5s ease, opacity 0.5s ease, color 0.5s ease;
    cursor: pointer;
    padding: 0 1em;
}

.nav-links a:hover { 
    color:#886e5e;
}


/* container */
.container{
    text-align: justify;
    font-family: serif ;
    font-size: 1.6rem;
    border-left: 0.4rem solid #604f40;
    border-right: 0.4rem solid #604f40;
    margin-top: 2rem;
    padding: 0em 4rem;
    max-height: 85vh;
    overflow-y: auto;  
    scrollbar-width: none;  /* Firefox 隐藏滚动条 */
    -ms-overflow-style: none;  /* IE 隐藏滚动条 */
    scroll-behavior: smooth; 
}
.container::-webkit-scrollbar {
    display: none; /* Chrome 隐藏滚动条 */
}

/* main-top */
.container h1,h2{
    color: #41362c;
    font-family: '方正剪纸简体';
    font-size: 6rem;
    letter-spacing: 0.3rem;
    margin-bottom: 1.4rem;

}

.container p{
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 3.8rem;
    text-align: justify;
    position: relative;
}

.main{
    display: flex;
    justify-content: center;
}

.main-left{
    width: 66vw;
    padding-right: 2.4em;
    

}

.main-right{
    width: 28vw;
    padding-left: 2.4em;
    /* border-left: 0.2rem solid #604f40; */
}

.main-left p{
    line-height: 3.8rem;
}



/* about me */
.about-me {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 4rem;
    row-gap: 2rem;
}

.about-me img {
    max-width: 100%; 
}

/* profile */
.profile{
    margin-top: 3rem;
}

.profile-item {
    display: flex;                 
    justify-content: space-between; 
    align-items: center;          
    padding-top: 5rem;            
    border-bottom: 0.15em solid #695747; 
    font-size: 2rem;
}
.label {
    font-weight: bold;
}

.value {
    text-align: right;
}



/* hobbies */

.hobbies {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 4rem;
    row-gap: 2rem;
}

.hobbies img {
    max-width: 100%; 
}

.hobbies h1{
    border-top: 0.2rem solid #695747;
    border-bottom: 0.2rem solid #695747;
    padding:1rem 0;
    letter-spacing: 0.3rem;
}

.hobbies-left h3{
    font-size: 2.4rem;
    margin:1.2rem 0;
}

.welcome {
    background-color: #a88673;
    margin: 3rem 0 3rem;
    padding: 0.1rem 0;
    text-align: center;
    transition: transform 0.6s ease, opacity 0.4s ease;
    cursor: pointer;
}

.welcome a{
    text-decoration: none;
}

.welcome h3 {
    display: flex;
    justify-content: center;
    font-family: '方正剪纸简体';
    font-size: 3.4rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: #ffe4cc;
    /* text-transform: capitalize; */
    padding: 1.5rem;
}

.welcome:hover{
    opacity: 0.8;

}

.image-section img {
    width: 100%;
    transition: transform 0.6s ease, opacity 0.6s ease,scale 0.6s ease;
    cursor: pointer;
}
.image-section img:hover{
        opacity: 0.8;
    }



/* strength-words */
.strength-words{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 4rem;
    row-gap: 2rem;
    margin-top: 1.6rem;
}


/* ------------right------------ */
/* part-time-job */
.part-time-job h1,
.strength h1{
    text-align: center;
    letter-spacing: 0.3rem;
}

.part-time-job{
    padding-left: 4.6rem;
    border-left: 0.2rem solid #604f40;
}

.part-time-job p{
    font-size: 1.4rem;
}

.job-bartender {
    position: static; /* 尝试移除 relative */
    overflow: visible; /* 确保没有隐藏溢出 */
}

.job-bartender::after {
    content: "";
    display: block;
    clear: both;
}

.job-bartender .bottle-img{
    float: left;
    width: 8rem;
    height: auto;
    margin-top: 4rem;
    margin-right: 1rem;
    shape-outside: polygon(0% 15%, 0 0, 0 14%, 59% 14%, 65% 31%, 83% 34%, 100% 39%, 100% 74%, 100% 100%, 0 100%, 0 99%, 0% 85%);
    shape-margin: 1rem;
    filter: invert(100%) grayscale(100%) contrast(170%) opacity(0.6);
    mix-blend-mode: screen;
}

.job-bartender .grass-img {
    float: right;
    width: 5rem;
    height: auto;
    margin-top: 24rem;
    margin-left: 1rem;
    shape-outside: polygon(0 68%, 100% 68%, 100% 100%, 0% 100%);
    shape-margin: 1rem;
    filter: invert(100%) grayscale(100%) contrast(170%) opacity(0.6);
    mix-blend-mode: screen;
}



.part-time-job .job-bartender p{
    text-align: justify;
}


.job-home-tutor h2{
    justify-items: center;
    font-family: "Zen Antique";
    width: 28vh;
    font-weight: 700;
    font-size: 2.6rem;
    text-align: center;
    padding: 0.4rem;
    border:0.2rem solid #604f40;
    margin: 2.4rem auto 2.2rem;

}

.job-home-tutor p{
    margin: 0 auto;
    text-align: justify;
    position: relative;
}

.job-home-tutor img{
    display: block;   
    width: 40vh;
    margin: 2rem auto;
    text-align: center;
    padding-bottom: 4rem;
    transform-origin: center;
}

.job-home-tutor {
    position: relative; 
}

.job-home-tutor::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -1.3rem;
    width: 104%; 
    height: 0.2rem;
    background-color: #604f40;
}

/* strengths */
.strength img{
    width: 100%;
}

.strength h3{
    font-family: '华康俪金黑W8(P)';
    font-size: 3rem;
    text-align: center;
    color: #41362c;
    letter-spacing: 0.06rem;
    font-weight: 100;
    margin-bottom: 1.6rem;

}

.strength .personal-strengths h3{
    margin-top: 1rem;
}


.strength h3::before,
.strength h3::after {
    content: ""; 
    display: inline-block;
    width: 2.4rem; 
    height: 2.4rem; 
    background-image: url('../image/star.png'); 
    background-size: contain; 
    background-repeat: no-repeat;
    margin: 0 1rem; 
    vertical-align: middle; 
    transform: translateY(-0.3rem); 
}

.strength .personal-strengths h3:before{
    margin-left: 0;
}

.strength .personal-strengths h3:after{
    margin-right: 0;
}

.strength p{
    font-size: 1.6rem;
    margin: 0.8rem 0;
}


/* works */
.works{
    border-top: 0.3rem solid #604f40;
    margin-top: 2rem;
}

.works h1,h2{
    text-align: center;
    letter-spacing: 0.3rem;
}

.works h1{
    margin: 2rem 0;
}

.works-introduction{
    display: flex;
    justify-content: space-between;
    margin: 8rem 0;
    align-items: center;
    column-gap: 4rem;
}

.works-introduction:first-child{
    margin-top: 6rem;
}

.works-introduction:last-child{
    margin-bottom: 2rem;
}

.works-introduction:last-child(2){
    margin-top: 6rem;
}

.works-reverse .works-introduction:nth-child(odd){
    flex-direction: row-reverse;
}

.works-words{
    justify-self: center;
    margin: 0 auto; 
}

.works-words h3{
    text-align: center;
}

.works-words p{
    text-align: justify;
}

.works-introduction img{
    width: 75vh;
}



.works h1{
    font-size: 5rem;
    background-color: #a88673;
    margin: 3rem 0 2rem;
    padding: 1.4rem 0;
    color: #ffe4cc;
    letter-spacing: 0.6rem;
}

.works h1::before,
.works h1::after {
    content: ""; 
    display: inline-block;
    width: 3.6rem; 
    height: 3.6rem; 
    background-image: url('../image/star-big.png'); 
    background-size: contain; 
    background-repeat: no-repeat;
    margin: 0 4rem; 
    vertical-align: middle; 
    transform: translateY(-0.3rem); 
}

.works h2{
    font-family: '华康俪金黑W8(P)';
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
}

.works h2::before,
.works h2::after {
    content: ""; 
    display: inline-block;
    width: 2.6rem; 
    height: 2.6rem; 
    background-image: url('../image/star.png'); 
    background-size: contain; 
    background-repeat: no-repeat;
    margin: 0 2.6rem; 
    vertical-align: middle; 
    transform: translateY(-0.3rem); 
}

.works-words a{
    text-decoration: none;
}

.works-words h3{
    font-family: '方正剪纸简体';
    font-size: 3rem;
    letter-spacing: 0.3rem;
    background-color: #a88673;
    margin-bottom: 2rem;
    padding: 1.4rem 0;
    color: #ffe4cc;
    transition: transform 0.6s ease, opacity 0.4s ease;
    cursor: pointer;
}

.works-words h3:hover{
    transform: translateY(-5px);
    opacity: 0.8;
}

.works-introduction img {
    transition: transform 0.6s ease, opacity 0.6s ease,scale 0.6s ease;
    cursor: pointer;
}

.works-introduction img:hover{
    /* transform: scale(1.05); */
    opacity: 0.75;
    transform: translateY(-5px);
}

.works-words p{
    font-size: 1.6rem;
}

.team-works{
    margin-top: 3rem;
    border-top: 0.3rem solid #604f40;
    padding:2rem 0 3rem;

}

.works-end img{
    width: 100%;
}



/* footer */
.footer__copyright {
    color: #604f40;
    float: right;
    font-weight: 500;
}

.footer__copyright span {
    writing-mode: vertical-lr;
}

.back__btn a {
    float: right;
    color: #604f40;
    margin-right: 3rem;
    margin-top: 9rem;
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
    width: 100px;
    text-align: right;
    transform: rotate(90deg);
    transform-origin: bottom right;
}

.arrow1 {
    width: 48px;
    height: 1px;
    background: #604f40;
    position: absolute;
    top: 50%;
    right: 40px;
}

.arrow2 {
    width: 1px;
    height: 12px;
    background: #604f40;
    position: absolute;
    top: calc(50% + 1px);
    right: 87px;
    transform: rotate(-130deg);
    transform-origin: top left;
}
