
.job-bartender{
    width: 800px;
}
.job-bartender::after {
    content: "";
    display: block;
    clear: both;
}

.job-bartender .bottle-img{
    float: left;
    width: 8rem;
    margin-top: 4rem;
    shape-outside: url(../image/bottle.png);
    shape-margin: 1rem;
    filter: invert(100%) grayscale(100%) contrast(170%) opacity(0.6);
    mix-blend-mode: screen;
}

.job-bartender .grass-img {
    float: right;
    width: 5rem;
    margin-top: 24rem;
    shape-outside: url(../image/grass.png);
    shape-margin: 1rem;
    filter: invert(100%) grayscale(100%) contrast(170%) opacity(0.6);
    mix-blend-mode: screen;
}



.part-time-job .job-bartender p{
    text-align: justify;
}