{% extends 'base.html' %}
{% load url_utils %}
{% block content %}

<div class="right">
    <div class="top">
        <div class="tool">
            <div class="class-info">
                <form method="get" action="{% url 'score_list' %}" class="search-form">
                    <span>クラス:</span>
                    <select name="grade">
                        <option value="" selected>クラスを選択してください</option>

                        <option value="{{ grade.pk }}" {{ grade.grade_name }} </option>

                    </select>
                    <span>名前/学籍番号:</span>
                    <input type="text" name="search">
                    <input type="submit" value="検索" id="search">
                </form>
            </div>
            <div class="actions">
                <button type="button" class="add" id="add">新規作成</button>
                <button type="button" class="del" id="bulkDel">一括削除</button>
                <button type="button" class="import" id="import">インポート</button>
                <button type="button" class="export" id="export">エクスポート</button>
            </div>
        </div>
    </div>
    <div class="bottom">
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox" id="select-all"></th>
                    <th>試験名</th>
                    <th>名前</th>
                    <th>クラス</th>
                    <th>学籍番号</th>
                    <th onclick="window.location.href='?sort_by=japanese'">
                        国語
                        {% if current_sort == 'japanese' %}▲{% endif %}
                    </th>
                    <th onclick="window.location.href='?sort_by=math'">
                        数学
                        {% if current_sort == 'math' %}▲{% endif %}
                    </th>
                    <th onclick="window.location.href='?sort_by=english'">
                        英語
                        {% if current_sort == 'english' %}▲{% endif %}
                    </th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for score in scores %}
                <tr>
                    <td><input type="checkbox" name="score_ids" value="{{ score.id }}"></td>
                    <td>{{ score.title }}</td>
                    <td>{{ score.student_name }}</td>
                    <td>{{ score.grade.grade_name }}</td>
                    <td>{{ score.student_number }}</td>
                    <td>{{ score.japanese_score }}</td>
                    <td>{{ score.math_score }}</td>
                    <td>{{ score.english_score }}</td>
                    <td>
                        <a href="{% url 'score_detail' score.pk %}" class="text-detail"> 詳細を見る</a>
                        <a href="{% url 'score_update' score.pk %}" class="edit">編集</a>
                        <a href="{% url 'score_delete' score.pk %}" class="btn-danger">削除</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="9">学生情報がありません</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <div>
                <div>
                    <span>{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</span>
                    {% if page_obj.has_previous %}
                    <a href="?{% search_url request page=1 %}">最初</a>
                    <a href="?{% search_url request page=page_obj.previous_page_number %}">前のページ</a>
                    {% endif %}

                    {% if page_obj.has_next %}
                    <a href="?{% search_url request page=page_obj.next_page_number %}">次のページ</a>
                    <a href="?{% search_url request page=page_obj.paginator.num_pages %}">最後</a>
                    {% endif %}
                </div>
            </div>
        </div>

        {% include 'scores/score_list_script.html' %}
        {% endblock %}