{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="password-change">
    <div class="password-change-form">
        <h2>パスワード変更</h2>
        <form id="changePasswordForm" method="post" action="{% url 'change_password' %}">
            {% csrf_token %}
            <!-- 現在のパスワード -->
            <div class="form-group">
                <label for="old_password">現在のパスワード:</label>
                <input type="password" id="old_password" name="old_password" required>
            </div>
            <!-- 新しいパスワード -->
            <div class="form-group">
                <label for="new_password1">新しいパスワード:</label>
                <input type="password" id="new_password1" name="new_password1" required>
            </div>
            <!-- 新しいパスワードの確認 -->
            <div class="form-group">
                <label for="new_password2">新しいパスワード（確認用）:</label>
                <input type="password" id="new_password2" name="new_password2" required>
            </div>
            <button type="submit">パスワードを変更</button>
        </form>
    </div>
</div>

<script>

    function showAlert(title, text) {
        Swal.fire({
            icon: 'error',
            title: title,
            text: text,
        });
    }

    function validateForm() {
        var currentPassword = document.getElementById('old_password').value;
        var newPassword = document.getElementById('new_password1').value;
        var confirmPassword = document.getElementById('new_password2').value;
        if (currentPassword === '') {
            showAlert('エラー', '現在のパスワードを入力してください');
            return false;
        }

        if (newPassword === '') {
            showAlert('エラー', '新しいパスワードを入力してください');
            return false;
        }

        if (confirmPassword === '' || newPassword !== confirmPassword) {
            showAlert('エラー', '新しいパスワードと確認用パスワードが一致しません');
            return false;
        }

        return true; // 検証成功時にtrueを返す
    }

    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');
        form.addEventListener('submit', function (e) {
            e.preventDefault(); // 通常の送信を防止
            if (!validateForm()) return;
            // fetch APIを使用してデータを送信
            let formData = new FormData(form);
            fetch("{% url 'change_password' %}", {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': formData.get('csrfmiddlewaretoken')  // CSRFトークンを確実に追加
                }
            }).then(response => response.json())
                .then(data => {
                    if (data.status === 'error') {
                        console.log(data)
                        let messages = JSON.parse(data.messages);
                        // エラーメッセージを構築
                        let errorMessage = '';
                        for (const field in messages) {
                            if (messages.hasOwnProperty(field)) {
                                messages[field].forEach(error => {
                                    errorMessage += `<li style="color:red;text-align:left;margin:0 24px;line-height:1.6;"> ${error.message}</li>`;
                                });
                            }
                        }
                        // SweetAlert2でエラーメッセージを表示
                        Swal.fire({
                            icon: 'error',
                            title: '送信エラー',
                            html: `<ul>${errorMessage}</ul>`,
                            confirmButtonText: '閉じる'
                        });
                    } else {
                        // 成功時の処理
                        Swal.fire({
                            icon: 'success',
                            title: '成功',
                            text: 'データが正常に送信されました！'
                        }).then((result) => {
                            if (result.value) {
                                // ユーザーが「OK」をクリックした場合、親ページをリロード
                                window.parent.location.reload();
                            }
                        });
                    }
                }).catch(error => {
                    console.error('エラー:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'ネットワークエラー',
                        text: 'サーバーに接続できません。後でもう一度お試しください。',
                        confirmButtonText: '閉じる'
                    });
                });
        });
    });

</script>

{% endblock %}